*{margin:0; padding: 0;}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header{
    position:fixed;
    right: 0cm;
}
body::-webkit-scrollbar{
    /*width: 10px;*/
    display: none;
}
.main_txt{
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*.nav_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 15px;
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;

}
.a_txt{
    position: relative; 
    text-decoration: none;
    color: black;
}
.a_txt .sub{
    display: block; 
    font-size: 10px; 
    line-height: 20px; 
    opacity: 0; 
    transition: all 0.5s; 
    transform: translateY(-8px);
}
.a_txt::before{
    display: block; 
    position: absolute; 
    width: 100%; 
    content: ''; 
    height: 5px; 
    box-sizing: border-box; 
    
    top: 0; left: 0; transition: all 0.5s;
}
.icon {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    font-size: 50px;
}
/*border-top: 0px solid #ccc;*/
.a_txt::after{
    display: block; 
    position: absolute; 
    width: 100%; 
    content: ''; 
    height: 5px; 
    border-bottom: 3px solid #ccc; 
    border-radius: 2.5px 2.5px 2.5px 2.5px / 2.5px 2.5px 2.5px 2.5px;
    bottom: -2px; left:0; opacity: 0; 
    transition: all 0.5s;
    transform: translateY(-8px);
}
.a_txt:hover .sub{
    opacity: 1;
    transform: translateY(0);
}
.a_txt:hover::after{
    opacity: 1;
    transform: translateY(0);
}
.main_logo{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
.h_txt{
    font-family: 'GongGothicMedium';
    font-size: 40px;
    text-align: left;
    padding-top: 1100px;
    padding-left: 220px;
}
.h_txt2{
    font-family: 'NanumSquare', sans-serif !important;
    text-align: left;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 220px;
}
.h_btn{
    width: 160px;
    height: 160px;
    float: left;
    padding-top: -20px;
    padding-left: 210px;
}
.m_txt{
    font-family: 'GongGothicMedium';
    font-size: 40px;
    text-align: right;
    padding-top: 400px;
    padding-right: 220px;
}
.m_txt2{
    font-family: 'NanumSquare', sans-serif !important;
    text-align: right;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 220px;
}
.m_btn{
    width: 160px;
    height: 160px;
    float: right;
    padding-top: -20px;
    padding-right: 210px;
}
.b_txt{
    font-family: 'GongGothicMedium';
    font-size: 40px;
    text-align: left;
    padding-top: 400px;
    padding-left: 220px;
}
.b_txt2{
    font-family: 'NanumSquare', sans-serif !important;
    text-align: left;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 220px;
}
.b_btn{
    width: 160px;
    height: 160px;
    float: left;
    padding-top: -20px;
    padding-left: 210px;
}
.qr_txt{
    font-family: 'GongGothicMedium';
    font-size: 20px;
    text-align: right;

}
.qr_mainbox{
    position: relative;
}
.qr_main{
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}
.qr_1{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-270%, 2360%);
    /*transform: translate(-270%, 1800%);*/
}
.qr_2{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 2360%);
    /*transform: translate(-50%, 1800%);*/
}
.qr_3{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(168%, 2360%);
    /*transform: translate(168%, 1800%);*/
}
.h_txt .h_txt2{
    opacity:0;
}
/*떠다니는 쓰레기 애니메이션*/
.waving > img {
    width: 200px;
    height: 100px;
    animation: watch 1s linear infinite both;
  }

  .waving_vinly1{
    padding-top: 3%;
    padding-left: 9%;
  }
  .waving_phone{
    padding-top: 10%;
    padding-left: 32%;
  }
  .waving_can{
    padding-left: 40%;
    padding-bottom: 5%;
  }
  .waving_vinly2{
    padding-top: 3%;
    padding-left: 70%;
  }
  .waving_box{
    padding-left: 30%;
  }

 
 
  /* 탑바 로고 움직임 */
@keyframes watch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }
  .waving > img:hover {
    animation-play-state: paused;
}
/* footer css 수정 */
/*.member{text-align: center;}
.developer{
    font-family: 'GongGothicMedium';
    font-size: 15px;
    padding-top: 400px;
}*/

/* 모바일 반응형 */
@media all and (max-width:767px){
    body{
        background-image: url('image/MainImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    header{
        position:fixed;
        right: 0cm;
    }
    .nav_txt{
        font-family: 'NanumSquare', sans-serif !important;
        font-size: 12px;
        float: right;
        list-style-type: none;
        text-decoration: none;
        padding: 15px;
    
    }
    .a_txt{
        text-decoration: none;
        color: black;
    }
    .h_txt{
        font-family: 'GongGothicMedium';
        font-size: 18px;
        text-align: left;
        padding-top: 360px;
        padding-left: 20px;
    }
    .h_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 13px;
        padding-top: 13px;
        padding-left: 20px;
    }
    .h_btn{
        width: 100px;
        height: 100px;
        float: left;
        padding-top: 0px;
        padding-left: 20px;
    }
    .m_txt{
        font-family: 'GongGothicMedium';
        font-size: 18px;
        text-align: right;
        padding-top: 150px;
        padding-right: 20px;
    }
    .m_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: right;
        font-size: 13px;
        padding-top: 13px;
        padding-right: 20px;
    }
    .m_btn{
        width: 100px;
        height: 100px;
        float: right;
        padding-top: 0px;
        padding-right: 20px;
    }
    .b_txt{
        font-family: 'GongGothicMedium';
        font-size: 18px;
        text-align: left;
        padding-top: 150px;
        padding-left: 20px;
    }
    .b_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 13px;
        padding-top: 13px;
        padding-left: 20px;
    }
    .b_btn{
        width: 100px;
        height: 100px;
        float: left;
        padding-top: 0px;
        padding-left: 20px;
    }
}

/* 태블릿 반응형 */
@media all and (min-width:768px) and (max-width:1023px) {
    body{
        background-image: url('image/MainImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    header{
        position:fixed;
        right: 0cm;
    }
    .nav_txt{
        font-family: 'NanumSquare', sans-serif !important;
        font-size: 15px;
        float: right;
        list-style-type: none;
        text-decoration: none;
        padding: 15px;
    
    }
    .a_txt{
        text-decoration: none;
        color: black;
    }
    .h_txt{
        font-family: 'GongGothicMedium';
        font-size: 23px;
        text-align: left;
        padding-top: 650px;
        padding-left: 80px;
    }
    .h_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 15px;
        padding-top: 11px;
        padding-left: 80px;
    }
    .h_btn{
        width: 110px;
        height: 110px;
        float: left;
        padding-top: 0px;
        padding-left: 80px;
    }
    .m_txt{
        font-family: 'GongGothicMedium';
        font-size: 23px;
        text-align: right;
        padding-top: 250px;
        padding-right: 80px;
    }
    .m_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: right;
        font-size: 15px;
        padding-top: 11px;
        padding-right: 80px;
    }
    .m_btn{
        width: 110px;
        height: 110px;
        float: right;
        padding-top: 0px;
        padding-right: 80px;
    }
    .b_txt{
        font-family: 'GongGothicMedium';
        font-size: 23px;
        text-align: left;
        padding-top: 250px;
        padding-left: 80px;
    }
    .b_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 15px;
        padding-top: 11px;
        padding-left: 80px;
    }
    .b_btn{
        width: 110px;
        height: 110px;
        float: left;
        padding-top: 0px;
        padding-left: 80px;
    }
}