*{margin:0; padding: 0;}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header{
    position:fixed;
    right: 0cm;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background-color: #7be495;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
body::-webkit-scrollbar-track{
    background-color: #cff4d2;
}
.main_txt{
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.a_txt{
    position: relative; 
    text-decoration: none;
    color: black;
}
.a_txt::before{
    display: block; 
    position: absolute; 
    width: 100%; 
    content: ''; 
    height: 5px; 
    box-sizing: border-box; 
    
    top: 0; left: 0; transition: all 0.5s;
}
.icon {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    font-size: 50px;
}
/*border-top: 0px solid #ccc;*/
.a_txt::after{
    display: block; 
    position: absolute; 
    width: 100%; 
    content: ''; 
    height: 5px; 
    border-bottom: 3px solid #ccc; 
    border-radius: 2.5px 2.5px 2.5px 2.5px / 2.5px 2.5px 2.5px 2.5px;
    bottom: -2px; left:0; opacity: 0; 
    transition: all 0.5s;
    transform: translateY(-8px);
}
.a_txt:hover .sub{
    opacity: 1;
    transform: translateY(0);
}
.a_txt:hover::after{
    opacity: 1;
    transform: translateY(0);
}
/* 메인 로고 */
.main_logo{
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
}
/* 스토리 */
.h_txt{
    font-family: 'GongGothicMedium';
    font-size: 40px;
    text-align: left;
    padding-top: 900px;
    padding-left: 220px;
}
.h_txt2{
    font-family: 'NanumSquare', sans-serif !important;
    text-align: left;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 220px;
}
.h_btn{
    width: 120px;
    height: 40px;
    float: left;
    padding-top: 30px;
    padding-left: 220px;
}
.m_txt{
    font-family: 'GongGothicMedium';
    font-size: 40px;
    text-align: right;
    padding-top: 150px;
    padding-right: 220px;
}
.m_txt2{
    font-family: 'NanumSquare', sans-serif !important;
    text-align: right;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 220px;
}
.m_btn{
    width: 120px;
    height: 40px;
    float: right;
    padding-top: 30px;
    padding-right: 340px;
}
.b_txt{
    font-family: 'GongGothicMedium';
    font-size: 40px;
    text-align: left;
    padding-top: 150px;
    padding-left: 220px;
}
.b_txt2{
    font-family: 'NanumSquare', sans-serif !important;
    text-align: left;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 220px;
}
.b_btn{
    width: 120px;
    height: 40px;
    float: left;
    padding-top: 30px;
    padding-left: 220px;
}
/* qr */
.h_qr_txt{
    font-family: 'GongGothicMedium';
    font-weight: bold;
    font-size: 40px;
    color: #2B4235;
    text-align: center;
    padding-top: 800px;
}
.m_qr_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
    color: #2B4235;
    text-align: center;
    padding-top: 25px;
    
}
.b_qr_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 15px;
    color: #2B4235;
    text-align: center;
    display: block;
    padding-top: 5px;
    margin-bottom: -180px;
}
.qr{
    display: block;
    margin: 0 auto;
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}

/* game */
.h_game_txt{
    font-family: 'GongGothicMedium';
    font-weight: bold;
    font-size: 40px;
    color: #2B4235;
    text-align: center;
    padding-top: 80px;
}
.m_game_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
    color: #2B4235;
    text-align: center;
    padding-top: 25px;
    
}
.b_game_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 15px;
    color: #2B4235;
    text-align: center;
    display: block;
    padding-top: 5px;
    margin-bottom: -180px;
}
.game_line{
    position: relative;
}
.game_1{
    width: 200px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-180%, 170%);
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
    
}
.game_2{
    width: 130px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(160%, 120%);
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
.game_txt{
    display: block;
    margin: 0 auto;
    margin-top: -250px;
}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}
/* 환경 단체 사이트 */
.h_ev_txt{
    font-family: 'GongGothicMedium';
    font-weight: bold;
    font-size: 40px;
    color: #2B4235;
    text-align: center;
    padding-top: 400px;
}
.m_ev_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
    color: #2B4235;
    text-align: center;
    padding-top: 30px;
    
}
.b_ev_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 15px;
    color: #2B4235;
    text-align: center;
    display: block;
    padding-top: 5px;
    margin-bottom: -180px;
    
}
.line_1{
    margin: 0 auto;
    position: relative;
}
.ev_1{
    width: 250px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 350%);
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
.ev_2{
    position: absolute;
    width: 250px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(10%, 350%);
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
.ev_3{
    width: 250px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 500%);
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
.ev_4{
    width: 250px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, 500%);
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
/* footer 이름 */
.app_main{
    text-align: left;
    float: left;
    padding-left: 350px;
    padding-top:550px;
    padding-bottom: 80px;
}
.app{
    display:inline-block;
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 14px;
    color: white;
    padding-top: 510px;
    text-align: left;
}
.app_member{
    text-align: left;
    float: right;
    padding-right: 350px;
    padding-top:550px;
    padding-bottom: 80px;
}
.member{
    display:inline-block;
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 14px;
    color: white;
    padding-top: 500px;
    padding-left: 5px;
    text-align: left;
    
}
.d_member{
    display:inline-block;
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 14px;
    padding-left: 5px;
    color: white;
    text-align: center;
}
.h_txt .h_txt2{
    opacity:0;
}
/*떠다니는 쓰레기 애니메이션*/
.waving > img {
    width: 200px;
    height: 100px;
    animation: watch 1s linear infinite both;
  }

  .waving_vinly1{
    margin-top: 5%;
    margin-left: 22%;
  }
  .waving_phone{
    margin-top: 10%;
    margin-left: 48%;
  }
  .waving_can{
    margin-left: 40%;
    margin-bottom: 5%;
  }
  .waving_vinly2{
    margin-top: 3%; 
    margin-left: 70%;
  }
  .waving_box{
    margin-left: 50%;
    margin-top: 1%;
  }


 
  /* 탑바 로고 움직임 */
@keyframes watch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }
  .waving > img:hover {
    animation-play-state: paused;
}


/* 데스크탑 반응형 (1920*1080) 이상 */
@media all and (min-width:1920px) {
    body{
        background-image: url('image/main.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    body::-webkit-scrollbar{
        width: 15px;
    }
    body::-webkit-scrollbar-thumb{
        background-color: #7be495;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    body::-webkit-scrollbar-track{
        background-color: #cff4d2;
    }
    .main_logo{
        width: 500px;
        height: 500px;
        display: block;
        margin: 0 auto;
    }
    header{
        position:fixed;
        right: 0cm;
    }
    .nav_txt{
        font-family: 'NanumSquare', sans-serif !important;
        font-size: 12px;
        float: right;
        list-style-type: none;
        text-decoration: none;
        padding: 15px;
    
    }
    .a_txt{
        text-decoration: none;
        color: black;
    }
    .h_txt{
        font-family: 'GongGothicMedium';
        font-size: 48px;
        text-align: left;
        padding-top: 900px;
        padding-left: 180px;
    }
    .h_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 24px;
        padding-top: 30px;
        padding-left: 180px;
    }
    .h_btn{
        width: 100px;
        height: 100px;
        float: left;
        padding-top: 30px;
        padding-left: 180px;
    }
    .m_txt{
        font-family: 'GongGothicMedium';
        font-size: 48px;
        text-align: right;
        padding-top: 300px;
        padding-right: 180px;
    }
    .m_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: right;
        font-size: 24px;
        padding-top: 30px;
        padding-right: 180px;
    }
    .m_btn{
        width: 100px;
        height: 100px;
        float: right;
        padding-top: 30px;
        padding-right: 300px;
    }
    .b_txt{
        font-family: 'GongGothicMedium';
        font-size: 48px;
        text-align: left;
        padding-top: 300px;
        padding-left: 180px;
    }
    .b_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 24px;
        padding-top: 30px;
        padding-left: 180px;
    }
    .b_btn{
        width: 100px;
        height: 100px;
        float: left;
        padding-top: 30px;
        padding-left: 180px;
    } 
    /* qr */
.h_qr_txt{
    font-family: 'GongGothicMedium';
    font-weight: bold;
    font-size: 50px;
    color: #2B4235;
    text-align: center;
    padding-top: 900px;
}
.m_qr_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 25px;
    color: #2B4235;
    text-align: center;
    padding-top: 30px;
    
}
.b_qr_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 20px;
    color: #2B4235;
    text-align: center;
    display: block;
    padding-top: 20px;
    margin-bottom: -250px;
}
.qr{
    width: 1300px;
    height: 950px;
    display: block;
    margin: 0 auto;
}

/* game */
.h_game_txt{
    font-family: 'GongGothicMedium';
    font-weight: bold;
    font-size: 50px;
    color: #2B4235;
    text-align: center;
    padding-top: 60px;
}
.m_game_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 25px;
    color: #2B4235;
    text-align: center;
    padding-top: 30px;
    
}
.b_game_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 20px;
    color: #2B4235;
    text-align: center;
    display: block;
    padding-top: 20px;
    margin-bottom: -180px;
}
.game_line{
    position: relative;
}
.game_1{
    width: 320px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-135%, 200%);
    
}
.game_2{
    width: 180px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(115%, 75%);
}
.game_txt{
    width: 1300px;
    height: 850px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
/* 환경 단체 사이트 */
.h_ev_txt{
    font-family: 'GongGothicMedium';
    font-weight: bold;
    font-size: 50px;
    color: #2B4235;
    text-align: center;
    padding-top: 800px;
}
.m_ev_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 25px;
    color: #2B4235;
    text-align: center;
    padding-top: 30px;
    
}
.b_ev_txt{
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    font-size: 20px;
    color: #2B4235;
    text-align: center;
    display: block;
    padding-top: 20px;
    margin-bottom: -180px;
}
.line_1{
    margin: 0 auto;
    position: relative;
}
.ev_1{
    width: 320px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 250%);
}
.ev_2{
    position: absolute;
    width: 320px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(10%, 250%);
}
.ev_3{
    width: 320px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 400%);
}
.ev_4{
    width: 320px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, 400%);
}
/* footer 이름 */
.app_main{
    text-align: left;
    float: left;
    padding-left: 350px;
    padding-top:620px;
    padding-bottom: 80px;
}
.app{
    display:inline-block;
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 14px;
    color: white;
    padding-top: 510px;
    text-align: left;
}
.app_member{
    text-align: left;
    float: right;
    padding-right: 350px;
    padding-top:620px;
    padding-bottom: 80px;
}
.member{
    display:inline-block;
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 14px;
    color: white;
    padding-top: 500px;
    padding-left: 5px;
    text-align: left;
    
}
.d_member{
    display:inline-block;
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 14px;
    padding-left: 5px;
    color: white;
    text-align: center;
}
.h_txt .h_txt2{
    opacity:0;
}       
    
/* 모바일 반응형 */
@media all and (max-width:767px){
    body{
        background-image: url('image/main.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    header{
        position:fixed;
        right: 0cm;
    }
    .nav_txt{
        font-family: 'NanumSquare', sans-serif !important;
        font-size: 12px;
        float: right;
        list-style-type: none;
        text-decoration: none;
        padding: 15px;
    
    }
    .a_txt{
        text-decoration: none;
        color: black;
    }
    .h_txt{
        font-family: 'GongGothicMedium';
        font-size: 18px;
        text-align: left;
        padding-top: 360px;
        padding-left: 20px;
    }
    .h_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 13px;
        padding-top: 13px;
        padding-left: 20px;
    }
    .h_btn{
        width: 100px;
        height: 100px;
        float: left;
        padding-top: 0px;
        padding-left: 20px;
    }
    .m_txt{
        font-family: 'GongGothicMedium';
        font-size: 18px;
        text-align: right;
        padding-top: 150px;
        padding-right: 20px;
    }
    .m_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: right;
        font-size: 13px;
        padding-top: 13px;
        padding-right: 20px;
    }
    .m_btn{
        width: 100px;
        height: 100px;
        float: right;
        padding-top: 0px;
        padding-right: 20px;
    }
    .b_txt{
        font-family: 'GongGothicMedium';
        font-size: 18px;
        text-align: left;
        padding-top: 150px;
        padding-left: 20px;
    }
    .b_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 13px;
        padding-top: 13px;
        padding-left: 20px;
    }
    .b_btn{
        width: 100px;
        height: 100px;
        float: left;
        padding-top: 0px;
        padding-left: 20px;
    }
    .qr{
        display: none;
        visibility: hidden;
        width: 0%;
    }
}

/* 태블릿 반응형 */
@media all and (min-width:768px) and (max-width:1023px) {
    body{
        background-image: url('image/MainImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    header{
        position:fixed;
        right: 0cm;
    }
    .nav_txt{
        font-family: 'NanumSquare', sans-serif !important;
        font-size: 15px;
        float: right;
        list-style-type: none;
        text-decoration: none;
        padding: 15px;
    
    }
    .a_txt{
        text-decoration: none;
        color: black;
    }
    .h_txt{
        font-family: 'GongGothicMedium';
        font-size: 23px;
        text-align: left;
        padding-top: 650px;
        padding-left: 80px;
    }
    .h_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 15px;
        padding-top: 11px;
        padding-left: 80px;
    }
    .h_btn{
        width: 110px;
        height: 110px;
        float: left;
        padding-top: 0px;
        padding-left: 80px;
    }
    .m_txt{
        font-family: 'GongGothicMedium';
        font-size: 23px;
        text-align: right;
        padding-top: 250px;
        padding-right: 80px;
    }
    .m_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: right;
        font-size: 15px;
        padding-top: 11px;
        padding-right: 80px;
    }
    .m_btn{
        width: 110px;
        height: 110px;
        float: right;
        padding-top: 0px;
        padding-right: 80px;
    }
    .b_txt{
        font-family: 'GongGothicMedium';
        font-size: 23px;
        text-align: left;
        padding-top: 250px;
        padding-left: 80px;
    }
    .b_txt2{
        font-family: 'NanumSquare', sans-serif !important;
        text-align: left;
        font-size: 15px;
        padding-top: 11px;
        padding-left: 80px;
    }
    .b_btn{
        width: 110px;
        height: 110px;
        float: left;
        padding-top: 0px;
        padding-left: 80px;
    }
    .qr{
        display: none;
        visibility: hidden;
        width: 0%;
    }
}
}