*{margin:0; padding:0px}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.back_btn{
    width: 50px;
    height: 50px;
    padding-top: 30px;
    padding-left: 50px;
}
.right_box{
    position: relative;
}
.left_btn{
    padding-top: 50px;
    padding-left: 50px;
    width: 500px;
    height: 90px;
}
.right_btn{
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    width: 150px;
    height: 90px;
}
.txt_box{
    position: absolute;
    font-family: 'GongGothicMedium';
    font-size: 16px;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-195%, -25%);
}
.main_box{
    position: relative;
}
.white_box{
    position: absolute;
    width: 1200px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
}
.dra_box{
    
}
