*{margin:0; padding:0px}

.basic_img{
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
}
.box_img{
    padding-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200pxpx;
    height: 780px;
}

/* 반응형 */
/*@media all and (min-width:768px) and (max-width:1023px) {
    .basic_img{
        padding-top: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
    }
    .box_img{
        padding-top: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 780px;
        height: 500px;
    }
}*/

@media all and (max-width:767px){
    .basic_img{
        padding-top: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }
    .box_img{
        padding-top: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 300px;
    }
}


