*{margin:0; padding:0;}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.a_txt{
    text-decoration: none;
    color : #2B4235;
    font-size: 25px;
}
.nav_txt{
    font-family: 'GongGothicMedium';
    font-size: 15px;
    padding: 20px;
    background-color: #56C596;

}
/*반응형 웹*/
@media all and (max-width:479px) {
    .a_txt{
        text-decoration: none;
        color : #2B4235;
        font-size: 15px;
        text-align: center;
    }
    .nav_txt{
        font-family: 'GongGothicMedium';
        font-size: 10px;
        padding: 20px;
        background-color: #56C596;
        text-align: center;
    
    }
}